body {
    background-color: rgb(242, 205, 154);
    font-family: Arial, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

table {
    margin-top: 50px; 
    border-collapse: collapse;
    width: 70%;
}

table, th, td {
    border: 2px solid black;
}

td {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #6d5436;
    font-weight: bold;
    font-size: 20px;
}

p, label {
    font-size: 20px; 
}

button {
    margin-top: 20px; 
    font-size: 17px;
}
